html, body{
  color: white;
  background-color: #1e1f22;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  display: flex;
  justify-content: center;
}

body{
  width: 50%;
}

.add-item{
  width: 100%;
  height: 30px;
  font-size: 100%;
  margin-bottom: 10px;
}

.single-item{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.check-all{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: start;
}

.buttons button{
  margin: 5px;
  padding: 5px;
}

.single-task:checked + label{
  text-decoration: line-through;
}